.container-fluid{
    padding:0px;
    max-width: 1700px;
    width: 100%;
    margin:0 auto;
}

.container-fluid .main_content{
    min-height: 1000px;
    background-color: #f8f9fa;
}

nav{
    padding:20px;
}

nav:hover::after{
    left:50px !important;
    right:50px !important;
}

nav:after{
    content:'';
    position: absolute;
    bottom:0px;
    left:30%;
    right:30%;
    border:1px solid deepskyblue;
    transition:.5s ease;
}

footer{
    background-color: #d7dade;
}

footer > p{
    padding:20px;
    text-align: center;
}

