#homeSect{
    
}

#homeSect .row{
    margin: 0px;
    padding:15px;
}

#homeSect h2{
  font-size:30px;
  text-align: center;
  padding:20px 0px;
}

#homeSect .homeImg{
  text-align: center;
}

#homeSect .col-md-6{
   
}