<section id="homeSect">
    <div class="row">
        <div class="col-md-6">
            <h2>Home Page</h2>
            <p>The website has been developed in Angular 10 framework using Visual Studio Code. Also,I have used Typescript language which is strict superset of Javascript.
               Typescript code is parsed and converted to Javascript. It adds support for features such as classes, modules, and an arrow function syntax as defined in the
               ECMAScript 2015 standard.</p>
            <p>Angular provide a number of features/benefits:</p>
            <ul>
                <li>POJO (Plain Old JavaScript Object), which enables object manipulation by providing all the conventional JavaScript functionalities.
                     You can remove or add properties from the objects, while also looping over these objects when required.</li>
                <li>Simplified MVC Pattern: Angular framework is embedded with original MVC (Model-View-Controller) software architectural setup.</li>
                <li>Modular Structure: Angular organizes code into buckets, whether it is components, directives, pipes, or services.</li>
                <li>Code Consistency: Reusability, Simplified Unit-Testing, Improved Readability, Ease of Maintenance</li>
            </ul>
        </div>
        <div class="col-md-6 homeImg">
            <img width="300" height="300" src="assets/angular.svg" />  
         </div>
    </div>
</section>


