<section id="homeSect">
    <div class="row">
        <div class="col-md-6">
            <h2>Home Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempore ad numquam deserunt ab eos doloremque tempora dicta accusantium suscipit,
               quaerat sunt perspiciatis molestiae neque odit cum, est alias autem?</p>   
        </div>
        <div class="col-md-6">
            <h2>Home Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempore ad numquam deserunt ab eos doloremque tempora dicta accusantium suscipit,
               quaerat sunt perspiciatis molestiae neque odit cum, est alias autem?</p>
        </div>
    </div>
</section>


